body{
    background-color: aqua;
}
.container{
    margin: 0 auto;
    width: 80%;
    height: 800px;
background-color: white;
}


.header
{
    display: flex;
    justify-content: space-between;
}
.list-nav{
    display: flex;
    list-style: none;
   
}
.list-nav li{
    margin-left: 30px;
    color: gray;
}
.content{
    margin: 2px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 10px;
   
}
.left-content{
    margin: 2px solid red;
}
.image img{
    width: 500px;
    height: 300px;
}